Lambdatron.xcodeproj/xcuserdata
Lambdatron.xcodeproj/project.xcworkspace/xcuserdata
LambdatronREPL/LambdatronREPL.xcodeproj/xcuserdata
Lambdatron.xcworkspace/xcuserdata
LambdatronREPLRunner/LambdatronREPLRunner.xcodeproj/xcuserdata
build
DerivedData
